<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Email Support</title>
</head>
<body>
    <h1>Send mail</h1>
    <div>
    <form action="{{url_for('send_message')}}" method="POST">
        <label for="mail">Enter Email-id: </label><br>
            <input type="email" id="mail" name="email" placeholder="Enter Email-id" required id=""><br><br>
        <label for="subj">Enter Subject: </label><br>
            <input type="text" id="subj" name="subject" placeholder="Enter Subject" required id=""><br><br>
        <label for="messg">Enter Message: </label><br>
            <textarea name="message" id="messg" cols="30" placeholder="Enter message" required rows="5"></textarea><br><br>
        <input type="submit" value="Send message">
    </form>
</div>
</body>
</html>